.header {
    height: 100px;
    width: 100%;
    font-family: monospace;
    border-bottom: 3px #32b9cd solid;
    align-items: center; 
}
.titulo1 {
 color: #32b9cd;
 font-family: monospace;
 margin: 0%;
}

body {
    margin: 0px 0px 0px 0px;
    background-color: black;
    font-family: monospace;
}

.header .container {
align-items: center;
justify-content: space-between;
height: 100%;
}

.navbar {
    display: flex;
    width: 500px;
    list-style: none;
    color: yellow;
    align-items: center;
    justify-content: space-between;
    margin-left: 20%;
    padding: 0%;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

p {
    color: white;
}
/* Banner */
.banner {
    height: 500px;
    background-image: url("imgs/bg-jelly-fish-para_outras_pags.png");
    background-size: cover;
}

.banner .card {
    background-color: white;
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    border: #ffffff solid 2px;
    border-radius: 6px;
    margin-top: 30px;

}

.banner .btn{
    font-family: monospace;
    border: 0px;
    margin-top: 30px;
    margin-bottom: 25px;
    font-weight: 600;
    background-color: #e75459;
    color: white;
    font-size: 18px;
    border-radius: 200px;
    padding: 10px 15px;
}

input {
    height: 30px;
    border: 2px solid #ffffff;
    border-radius: 6px;
    

}

.banner .card {
    color: #ffffff;
}

.card {
    overflow: hidden;
    width: 500px; height: 450px; 
    background-image: url(https://c.tenor.com/knqFRdji8ucAAAAC/ocean-sea.gif);
    background-size: cover;
    margin-top: 50px;
    box-shadow: 10px 05px black;
 }

 .card:hover {
    -moz-transition: all 0.7s;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }