.header {
    background-color: black;
    width: 100%;
    margin-top: 0px;
    font-family: monospace;
    display: flex;
    border-bottom: 3px blue solid; 
}
h1 {
 color: blue;
 font-family: monospace;
 margin-top: 0px;
}

body {
    margin: 0px 0px 0px 0px;
}

.header .container {
background-color: black;
width: 70%;
display: flex;
}

.navbar {
    display: flex;
    width: 500px;
    list-style: none;
    color: yellow;
    align-items: center;
    justify-content: space-between;
    margin-left: 20%;
}
